<!DOCTYPE html>
<html>
<had>
	<title>Ruby on rails Sample app | <%= @title %></title>
</head>
<body>

	<h1>Sample App</h1>
	<p>This is the About Page for the App <a href="http://jeffsadic.heroku.com">Jeffsadic Blog</a>.</p>

</body>
</html>
